*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** Те, що потрібно для Full Page Scroll */
#fullpage {
	height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
}

#fullpage > * {
	height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
	position: relative;
}

.prev-lnk,
.next-lnk {
    outline: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 60px;
	z-index: 9999;
    bottom: 0;
}

@media (pointer:coarse) {
    #fullpage > * {
        padding-bottom: 13%;
    }
    .prev-lnk,
    .next-lnk {
        bottom: calc(var(--vh, 1vh) * 12);
    }
}

.prev-lnk:before,
.prev-lnk:after,
.next-lnk:before,
.next-lnk:after {
	background-color: #fff;
	content: "";
	display: block;
	position: absolute;
	left: 25%;
	top: 50%;
	width: 50%;
	height: 2px;
}

.prev-lnk:before {
	transform: rotate(-45deg) translateX(-50%);
}

.prev-lnk:after {
	transform: rotate(45deg) translateX(50%);
}

.next-lnk:before {
	transform: rotate(45deg) translateX(-50%);
}

.next-lnk:after {
	transform: rotate(-45deg) translateX(50%);
}


/** Кінець того, що потрібно для Full Page Scroll */

html,
body {
	font-size: 16px;
}

header,
footer {
	background-color: #FF931E;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;	
	font-family: 'Roboto', sans-serif;
}

#motionPath {
	position: absolute;
}

header h1 {	
	font-size: 10vw;
	font-weight: 700;
	line-height: .875em;
	letter-spacing: .1em;
	font-variant: small-caps;
	padding: 25px;
}

#split-slider {
    background-color: #000;
	height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	position: relative;
}

#split-slider > button {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 50px;
	height: 50px;
	transform: translateX(-50%);
	z-index: 999;
}

.slideshow {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	overflow: hidden;
}

.slideshow .slider {
	width: 100vw;
	height: 100%;
	z-index: 2;
}

.slideshow .slider * {
	outline: none;
}

.slideshow .slider .item {
	height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	position: relative;
	overflow: hidden;
	border: none;
}

.slideshow .slider .item img {
	width: 178vh;
	max-width:100%;
	position: absolute;
    object-fit: cover;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.slideshow .slick-dots {
	position: absolute;
	z-index: 100;
	width: 40px;
	height: 100%;
    height: calc(var(--vh, 1vh) * 100);
	margin-right: 15px;
	top: 0;
	right: 0;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}

.slideshow .slick-dots li {
	display: block;
	width: 100%;
	height: auto;
}

.slideshow .slick-dots li button {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	position: relative;
	width: 25px;
	height: 25px;
	text-align: center;
	font-size: 0;
}

.slideshow .slick-dots li button:before {
	content: '';
	background: #fff;
	color: #fff;
	height: 2px;
	width: 20px;
	border-radius: 0;
	position: absolute;
	top: 50%;
	right: 0;
	left: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 0.6;
}

.slideshow .slick-dots li.slick-active button:before {
	width: 40px;
	opacity: 1;
}

.slideshow.slideshow-right {
	left: 0;
	z-index: 1;
	width: 50vw;
	pointer-events: none;
}

.slideshow.slideshow-right .slider {
	left: 0;
	position: absolute;
}

@media (max-width: 767px) {}

.the-most {
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 50vw;
	max-width: 200px;
	padding: 10px;
}

.the-most img {
	max-width: 100%;
}